<!DOCTYPE html>
<html dir="ltr" lang="${lang}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="${lang}" />
	<meta content="width=device-width" name="viewport" />
	<meta content="${keywords}" name="keywords" />
	<meta content="${description}" name="description" />
	<meta content="${author}" name="author" />
	<title>${sitetitle} - ${title}</title>
	<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="print.css" type="text/css" media="print" />
	<link rel="alternate" href="atom.xml" type="application/atom+xml" title="${sitetitle} Atom Feed" />
	<link rel="icon" href="/favicon.png" type="image/png" />
	<!-- This site is created using saait: https://git.codemadness.org/saait/file/README.html -->
</head>
<body>
	<nav id="menuwrap">
		<table id="menu" width="100%" border="0">
		<tr>
			<td id="links" align="left">
				<a href="index.html">Blog</a> |
				<a href="https://github.com/zacklofgren" title="My GitHub">GitHub</a>
			</td>
			<td id="links-contact" align="right">
				<span class="hidden"> | </span>
				<a href="atom.xml">Atom feed</a> |
				<a href="mailto:${sitemail}" title="Mail me">Mail</a>
			</td>
		</tr>
		</table>
	</nav>
	<hr class="hidden" />
	<main id="mainwrap">
		<div id="main">
			<article>
